/*--------��������------------*/

.editPokaz {
    cursor: pointer;
}

#counterList,
#generatorList,
#generatorAreaRemnantList,
#canisterList {
    margin: 0 auto;
}

#cNumer {
    width: 150px;
    font-size: 12pt;
}

#buttCounter,
#buttCanister,
#buttGenerator {
    font-size: 16pt;
}

#counter,
#mCounter,
#mGenerator,
#inputPokaz,
#countStat,
#cYear,
#adminPanel,
#mAdmin,
#mGenerator,
#counterList,
#generatorList,
#generatorAreaRemnantList,
#afterLogin,
#cPass,
#canisterList {
    display: none;
}

/*--------����------------*/
ul.menu {
    margin: auto;
    padding: 0;
    height: 30px;
    width: 100%;
    background-color: brown;
}

ul.menu li {
    float: left;
    list-style: none;
}

ul.menu li a {
    color: White;
    display: block;
    padding: 6px 6px;
    text-decoration: none;
}


/**
 *  ul.menu li :hover {
 *      color:#E88F00;
 *    text-decoration:none;
 *    text-shadow:1px 2px 3px #ddd;
 *    background-position: -99.99% 0;
 *  }
 */



ul.menu li a:hover {
    background-color: maroon;
}

ul.menu li ul {
    display: none;
    margin-left: 12px;
    padding: 0px;
    z-index: 10;
}

ul.menu li:hover ul {
    display: block;
    position: absolute;
}

ul.menu li:hover ul li {
    float: none;
    background-color: brown;
}

ul.menu ul li {
    padding: 1px;
}

ul.menu ul li a {
    color: white;
    padding: 6px 12px;
}

/**
 * ul.menu ul li a:hover {
 *     color:#E88F00;
 *   text-decoration:none;
 *   text-shadow:1px 2px 3px #ddd;
 *   background-position: -99.99% 0;;
 * }
 */

ul.menu li:hover ul li a {
    padding: 8px;
}

/*----------------------------*/

#butArea {
    position: relative;
    width: 150px;
    left: 850px;

}

#bconfirm {
    position: relative;
    margin-left: 630px;
}

#bidNam {
    width: 150px;
    font-size: 12pt;
}

#bFinBid {
    font-size: 14pt;
}

#table {
    width: 100%;
    position: relative;
}

#text {
    width: 99%;
    height: 100px;
    font-size: 12pt;
    resize: none;
}

.headContent {
    position: relative;
    margin: 0 auto;
    width: 1000px;
    top: 10px;
}

#usl {
    font-size: 14pt;
    width: 240px;
}

#usp {
    font-size: 14pt;
}

#login {
    position: relative;
    margin: 0 auto;
    width: 370px;
}

#submit {
    position: relative;
    font-size: 14px;
    width: 100px;
    left: 125px;
}

input[type="text"] {
    border: 2px solid #cccccc;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
    background: #ffffff !important;
    outline: none;
    height: 24px;
    width: 420px;
    color: #000000;
    font-size: 20px;
    font-family: Tahoma;
}

#heada {
    width: 100%;
}

h2 {
    color: green;
}

/**
 * #menu{
 *     position: relative;
 *     font-size: 14pt;
 *     width: 100%;
 *     background-color: brown;
 * }
 * .menu a{
 *     color: white;
 *     padding-left: 10px;
 *     padding-right: 10px;
 *     cursor: pointer;
 * }
 * .menu a:hover{
 *     color:#E88F00;
 *     text-decoration:none;
 *     text-shadow:1px 2px 3px #ddd;
 *     background-position: -99.99% 0;
 * }
 */
#adminMenu {
    position: relative;
    font-size: 14pt;
    width: 100%;
    background-color: brown;
}

#exit {
    float: right;
    position: relative;
    right: 10px;
    top: -35px;
    cursor: pointer;
}

#exita {
    padding: 10px;
}

#id {
    padding: 10px
}

.menItem {
    cursor: pointer;
}

#menu {
    font-size: 14px;
}

.login-error {
    margin-top: 20px;
    padding: 5px 17px 5px 0;
    width: max-content;
    border-radius: 8px;
    background-color: #fffbb4;
    font-size: 14px;
}

.form-report-counter,
.form-report-generator {
    border: 1px solid #ccc;
    padding: 20px;
    width: 700px;
    margin: 0 auto;
}

.label-report-counter,
.label-canister-send,
.label-report-generator {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
}

.input-report-counter,
.input-canister-send,
.input-report-generator {
    margin-bottom: 14px;
}

.select-report-counter,
.select-report-generator {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-report-counter,
.btn-report-generator {
    border-radius: 4px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 2px 11px 0 rgba(0, 0, 0, -2.81);
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.btn-report-counter:hover,
.btn-report-generator:hover {
    background-color: #45a049;
}

.company-table {
    border-collapse: collapse;
    width: 100%
}

.company-table th,
.company-table td {
    padding: 5px;
    border: solid 1px #777;
}

.company-table th {
    position: sticky;
    top: 0;
    background-color: lightblue;
}

.input-color {
    width: 100%;
}

#pharmacyType {
    margin-top: 5px;
    border: solid 1px #777;
    height: 370px;
    overflow: auto;
}

#addUnit {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    margin-top: 15px;
}

#addUnit h3 {
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 0px;
}

#addUnit p {
    margin: 14px 0;
}

#addUnit input[type="text"],
#addUnit input[type="number"],
#addUnit select {
    width: 98%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#addUnit input[type="checkbox"] {
    margin-right: 10px;
    vertical-align: middle;
}

#addUnit button#confirmUn {
    font-size: 14pt;
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#addUser {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    margin-top: 15px;
}

#addUser p {
    margin: 14px 0;
}

#addUser input[type="text"],
#addUser input[type="password"],
#addUser select {
    width: 98%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#addUser input[type="text"][list="unitUs"] {
    width: 95%;
}

#addUser input[type="text"]:focus,
#addUser input[type="password"]:focus,
#addUser select:focus {
    border-color: #007bff;
    outline: none;
}

#addUser button#confirmUs {
    font-size: 14pt;
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#addCounters,
#addGenerator,
#addCanister {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    margin-top: 15px;
}

#addCounters h3,
#addGenerator h3,
#addCanister h3,
#addUser h3,
#cPass h3 {
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 0;
}

#addCounters p,
#addGenerator p,
#addCanister p {
    margin: 14px 0;
    font-size: 18px;
    font-weight: bold;
}

#addCounters input[type="text"],
#addCounters input[type="number"],
#addCounters select,
#addGenerator input[type="text"],
#addGenerator input[type="number"],
#addGenerator select,
#addCanister input[type="text"],
#addCanister input[type="number"],
#addCanister select {
    width: 98%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#addCounters input[type="text"][list="cArr"],
#addGenerator input[type="text"][list="gArr"],
#addGenerator input[type="text"][list="gType"],
#addGenerator input[type="text"][list="canisterType"],
#addCanister input[type="text"][list="canisterType"],
#addCanister input[type="text"][list="canisterUnit"],
#addCanister input[type="text"][list="addCanisterUnit"] {
    width: 95%;
}

#addCounters input[type="text"]:focus,
#addCounters input[type="number"]:focus,
#addCounters select:focus,
#addGenerator input[type="text"]:focus,
#addGenerator input[type="number"]:focus,
#addGenerator select:focus,
#addCanister input[type="text"]:focus,
#addCanister input[type="number"]:focus,
#addCanister select:focus,
#addCanister input[type="text"]:focus,
#addCanister input[type="number"]:focus,
#addCanister select:focus {
    border-color: #007bff;
    outline: none;
}

#buttCounter,
#buttCanister,
#buttGenerator {
    font-size: 14pt;
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#buttCounter:hover,
#buttCanister:hover,
#buttGenerator:hover,
#addUser button#confirmUs:hover,
#addUnit button#confirmUn:hover,
#cPass button#changePass:hover {
    background-color: #0056b3;
}

#cState,
#gState {
    margin-left: 10px;
    vertical-align: middle;
}

#counterList,
#generatorList,
#generatorAreaRemnantList,
#canisterList {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    margin-top: 15px;
}

#counterList h3,
#generatorList h3,
#generatorAreaRemnantList h3,
#canisterList h3 {
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 0;
}

.bcType {
    font-weight: bold;
}

#hcYear,
#hcType,
#inputCUnit,
#inputAddCUnit,
.positiveNumber,
#inputCanisterUnit,
#inputCanisterType,
#inputFuelRefill,
#inputAddCanisterType,
#inputCanisterStatus,
#inputGType,
#inputGTypeRemnant,
#inputGUnit,
#inputGUnitRemnant {
    padding: 8px;
    margin-right: 10px;
    width: 200px;
}

#cUnit,
#gUnit,
#gType,
#canisterUnit,
#canisterType,
#canisterStatus {
    width: 100%;
}

#cYear,
#cType,
#inputCUnit,
#inputAddCUnit,
.positiveNumber,
#inputCanisterUnit,
#inputCanisterType,
#inputFuelRefill,
#inputAddCanisterType,
#inputCanisterStatus {
    font-size: 14px;
}

#cYear {
    margin-top: 10px;
}

#hcYear:hover,
#hcType:hover,
#inputCUnit:hover,
#inputAddCUnit:hover,
.positiveNumber:hover {
    border-color: #007bff;
    outline: none;
}

.cUnit option,
.gUnit option,
.gType option,
.canisterUnit option,
.addCanisterUnit option,
.canisterType option,
.fuelRefill option,
.canisterStatus option {
    font-size: 14px;
}

#addCounterBtn,
#addGenetarorBtn,
#addGenetarorPokaz,
#addCanisterBtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 4px;
}

.adding-pokaz button {
    background-color: #4e674f;
    color: white;
    padding: 10px 20px;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 4px;
}

#addCounterBtn:hover,
#addGenetarorBtn:hover,
#addGenetarorPokaz:hover,
.adding-pokaz button {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}


#cPass {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    margin-top: 15px;
}

#cPass p {
    margin: 14px 0;
}

#cPass input[type="password"],
#cPass select {
    width: 98%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#cPass input[type="text"][list="unitUs"] {
    width: 95%;
}

#cPass input[type="password"]:focus,
#cPass select:focus {
    border-color: #007bff;
    outline: none;
}

#cPass button#changePass {
    font-size: 14pt;
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#overlayWritingOff {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.61);
    z-index: 999;
}

#modalWritingOff {
    background-color: #333;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    z-index: 1000;
}

#areaCanistrBack,
#prevCanistrBack {
    background-color: #555;
    color: #fff;
    padding: 5px;
}

#modalWritingOff .modal-content {
    text-align: center;
}

#modalWritingOff button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
}

#modalWritingOff button.cancel {
    background-color: #ff5555;
    color: #ffffff;
}

#modalWritingOff button.confirm {
    background-color: #4caf50;
    color: #ffffff;
}

.flex-container {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    margin-top: 25px;
    border: #9e0404 2px solid;
}

.flex-container>div {
    display: flex;
}

.generator-info {
    width: 50%;
    padding: 10px;
    border-right: #9e0404 2px solid;
}

.generator-resources {
    width: 50%;
    padding: 10px;
}

.adding-pokaz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    border-top: #9e0404 2px solid;
}

.adding-pokaz div {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.adding-pokaz span {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.adding-pokaz h3 {
    color: #333;
    font-size: 36px;
    margin-top: 0;
    size: 50px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.adding-pokaz button {
    margin-top: 25px;
}

.desc-gen span,
.res-gen span {
    margin-left: 10px;
    margin-bottom: 5px;
}

input[type="datetime-local"] {
    margin-right: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 5px;
}

#getCanister .flex-container,
#refillGeneratorElement .flex-container,
#countCanister .flex-container {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    margin-top: 20px;
    border: #d8e934 2px solid;
}

#getCanister .flex-container>div,
#refillGeneratorElement .flex-container>div,
#countCanister .flex-container>div {
    display: flex;
}

.canister-desc {
    width: 85%;
    padding: 10px;
    display: flex;
    border-right: #d8e934 2px solid;
}

.desc-can {
    margin-left: 7px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirm-canister {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.confirm-canister button {
    height: 40px;
    background-color: #d8d912;
    color: white;
    padding: 10px 20px;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 4px;
}

.confirm-canister button:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

#countStat table,
#adminPanel table {
    width: 100%;
    border-collapse: collapse;
}

#countStat th,
#adminPanel th,
#countStat td,
#adminPanel td {
    width: 1%;
    box-sizing: border-box;
    border: 2px solid black;
    padding: 4px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

* thead,
* thead tr,
* thead tr th {
    width: inherit;
}

#counter,
#cStat,
#allCount,
#allUser,
#allUnit,
#log,
#generator,
#canister,
#generatorRemnant {
    align-items: center;
    justify-content: center;
    display: flex;
}

#counter,
#canister,
#generator,
#setCanister,
#setCounters,
#setGenerator,
#log,
#allUser,
#allUnit,
#allCount,
#buttGenerator,
#buttCounter,
#inputCanisterStatus,
#generatorRemnant,
#pokazEdit,
#formReportCounter,
#reportGenerator {
    margin-top: 10px;
}